<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bitaam.gyani">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".Gyani"
        android:allowBackup="false"
        android:icon="@mipmap/app_icon_1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_1_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gyani">
        <activity
            android:name=".ui.community.DoubtQuestionPostingActivity"
            android:exported="true" />
        <activity
            android:name=".CreateProfileActivity"
            android:exported="true" />
        <activity
            android:name=".SignInActivity"
            android:exported="true" />
        <activity
            android:name=".utility.YoutubeVideoDisplayActivity"
            android:exported="true" />
        <activity
            android:name=".utility.FullscreenActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Gyani.CenterAnimation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>